.shadow-blur-over.z-10.text-sm.text-blue-400.cursor-pointer{data: {
controller: "show-more",
action: "click->show-more#expandDiv",
show_more_height_value: height,
show_more_id_value: id},
id: "show-more-button#{id}"}
  Show more...